<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #424242;">
  <a class="navbar-brand" href="#">stelmach.dev</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Menu -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Upload CSV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="list-users">Show parsed entries</a>
      </li>
    </ul>
  </div>
</nav>
